body{
    color: white;
}

.logo{
    width: 25%;
    height: 15%;
    display: grid;
    padding: 20px;
    align-content: flex-start;
}

.nav{
    display: grid;
    grid-template-columns: 7fr 1fr 2fr;
    grid-auto-rows: 100px;
}
.user{
    text-decoration: none;
    display: grid;
    padding-top: 10px;
    width: 150px;
    font-size: 16px;
    color: white;
}

.user a{
    text-decoration: none;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.user a:hover{
    color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

.user-logo{
    color: white;
}

.item-name{
    padding: 10px;
    border: white 1px solid;
    border-radius: 10px;
}

.item-description{
    padding: 10px;
    border: white 1px solid;
    border-radius: 10px;
    width: 40vw;
    height: 30vh;

}

.type-selector{
    padding: 10px;
    border: white 1px solid;
    border-radius: 10px;
    width: 40vw;
}

#img{
    align-items: center;
    justify-content: center;
}
