html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: url('../assets/background-with-icons.svg');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Roboto";
    font-size: 15px;
    color:white;
}

/*------- HEADER -------*/
.header {
    background: url('../assets/background-with-icons.svg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: fixed;
    padding: 13px 13px 0 13px;
    background-size: cover;
    border-bottom: 0px solid rgba(255,255,255,0.1);
    top: 0px;
    z-index: 99999999999;
}

#logo{
    height: 28px;
    max-width: 15cm;
}

.menu {
    float: right;
    margin-right: 50px;
}

.menu ul {
    list-style: none;
    margin: 0;
}

.menu ul li {
    display: inline-block;

}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: roboto;
    padding: 0 20px;
}

.menu ul li button{
    color:white;
    font-size: inherit;
    background: none;
    padding: 0.7vh 1vw;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    margin-left: 1vw;

}

.menu ul li button:hover{
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

.menu ul li a:hover{
    color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

input:focus, textarea {
    outline: none !important;
}

button:focus, textarea {
    outline: none !important;
}
/*-------END OF HEADER CSS-------*/

/*------- LOGIN AND PASSWORD RECOVERY -------*/

.popup{
    position: fixed;
    top: 20%;
    right:40%;
    opacity: 0;
    display: none;
    justify-content: center;
    align-items: center;
    color: black;
}

.popup-content{
    width: 300px;
    border-radius: 10px;
    color: black;
    padding: 30 20 20 20;
    background: white;
    text-align: center;
}

.sign-in{
    font-size: 30px;
    margin: 10 0 10 0 ;
}

.login-input-wrapper{
    margin: 40px 0 15px 0;
}

.input-label{
    float: left;
    margin: 0 0 5 5;
}

.gradient-wrapper{
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    height: 50px;
    width: 290px;
    background: linear-gradient(90deg, rgba(247,0,70,1) 0%, rgba(2,0,182,1) 100%);
    text-align: center;
    overflow: hidden;
}

.email{
    margin-top: 40px;
}

.forgot-password {
    height: 30px;
    margin: 10px 0 0 0;
}
.forgot-password a{
    color:black;
    float: right;
    margin-right: 10px;
    font-family: roboto;
}

.login-data-input{
    position: relative;
    top: 2px;
    margin-top: auto;
    border: none;
    border-radius: 8px;
    padding: 5px;
    height: 46px;
    width: 286px;
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.close:hover{
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

.login-data-input2{
    border-radius: 10px;
    padding: 5px;
    border: none;
    height: 50px;
    width: 300px;
}

a {
    text-decoration: none;
}

.login-button-gradient-wrapper{
    height: 44px;
    width: 120px;
    place-self: center;
    margin: 20px auto 0 auto;
}

.login-form-button{
    position: relative;
    top: 2px;
    color:black;
    place-self: center;
    text-align:center;
    letter-spacing: 2px;
    border: none;
    border-radius: 8px;
    width: 116px;
    height: 40px;
/*    padding: 12px;*/
    background: white;
    font-weight: bold;
}

.login-form-button:hover{
    color: white;
    top: 0;
    height: 44px;
    width: 120px;
    background: rgba(225, 225, 225, 0.4);
    transition-duration: 0.5s;
}
.login-button-gradient-wrapper:hover{
    color: white;
    transition-duration: 0.5s;
}

h5 a{
    text-decoration: none;
    color:black;
    float: right;
    cursor: pointer;
}

h5 a:hover{
    color: rgba(0,0,0,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

.button1:hover{
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}
/*-------END OF LOGIN AND PASSWORD RECOVERY CSS-------*/

