html, body{
    margin: 0;
    padding: 0;
    width: 100%
}

body {
    width: 100%;
    height: 100%;
    background: url('../assets/background-with-icons.svg');
    background-size: cover;
    font-family: "Roboto";
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu {
    float: right;
    line-height: 50px;
    margin: 0 3em;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 0 20px;
}

.menu ul li button{
    color:white;
    font-size: inherit;
    background: none;
    padding: 0.7vh 1vw;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    margin-left: 1vw;

}

.menu ul li button:hover{
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

.menu ul li a:hover{
    color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}
.header {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60vw;
}

#logo{
    width:40vw;
    max-width: 15cm;
}

#options{
    margin-top: 12vw;
}

#search-field{
    float:left;
    padding: 0.5em 1.5vw;
    border-radius: 2vh;
    border:none;
    font-family: inherit;
    font-size: 1.5vw;
    height: 3.5vw;
    width: 25vw;
    margin-right: 6vw;
}

input:focus, textarea {
    outline: none !important;
}

button:focus, textarea {
    outline: none !important;
}


.header p{
    display: inline;
    color: white;
    font-size: 2vw;
}

#list-item-button{
    margin-left: 6vw;
    color:white;
    padding: 0.5em 1.5vw;
    border-radius: 0.7rem;
    font-family: "Roboto";
    font-size: 1.5vw;
    height: 2.2em;
    background: none;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    margin-left: 6vw;
    width: 15vw;
}

#list-item-button:hover{
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
}

#see-cathegories-sign{
    position: absolute;
    bottom: 3%;
    left: 45%;
    text-align: center;
}

#see-cathegories{
    color: white;
    font-size: 1.5vw;
}

#scroll-down-arrows{
    width: 1.5vw;
}


.popup{
    position: fixed;
    top: 20%;
    right:40%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);

}

.popup-content{
    border: white 1px solid;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 300px;
    border-radius: 10px;
    color: white;
    padding: 20px;

}

.popup2{
    position: fixed;
    top: 20%;
    right:40%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);


}

.popup-content2{
    border: white 1px solid;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 300px;
    border-radius: 10px;
    color: white;
    padding: 20px;

}


.login-data-input{
    border-radius: 10px;
    padding: 5px;
    border: none;
    height: 50px;
    width: 300px;
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.close:hover{
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

.loginBtn{
    color:white;
    place-self: center;
    text-align:center;
    letter-spacing: 3px;
    font-size: inherit;
    background: none;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    width: 150px;
    height:45px;
    padding:0;
    font-weight: 900;
    padding-top: 20px !important;
}

a {
    text-decoration: none;
}

.button1:hover{
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

h5 a{
    text-decoration: none;
    color:white;
    float: right;
}

h5 a:hover{
    color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

h3{
    font-size: 25px;
    display: inline;
    text-align: center;
    margin-top:0;
    margin-bottom:0;
    letter-spacing: 4px;
    font-weight: 700;
}

.login-data-input2{
    border-radius: 10px;
    padding: 5px;
    border: none;
    height: 50px;
    width: 300px;
}

.close2{
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    height: 20px;
    border-radius: 50%;
}

.close2:hover{
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

.button12{
    color:white;
    place-self: center;
    text-align:center;
    font-size: inherit;
    background: none;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    width: 250px;
    height:45px;
    padding:0;
    font-weight: 900;
    padding-top: 20px !important;
}

a {
    text-decoration: none;
}

.button12:hover{
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

#list-item-button{
    cursor: pointer;
}

.warning-email {
    color: #BF343F;
    height: 24px;
    padding: 0 8px;
    font-size: 18px;
}

.hidden{
    display: none;
}
