html, body{
    margin: 0;
    padding: 0;
    width: 100%
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg, rgba(247,0,70,1) 0%, rgba(1,0,118,1) 100%); */
    background: url('../assets/background-with-icons.svg');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Roboto Light";
    font-size: 15px;
}

.headder {
    width: 100%;
    position: fixed;
    padding: 13px 13px 0 13px;
    /* background: linear-gradient(90deg, rgba(247,0,70,1) 0%, rgba(1,0,118,1) 100%); */
    background: url('../assets/background-with-icons.svg');
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 0px solid rgba(255,255,255,0.1);
}

#logo{
    height: 28px;
    max-width: 15cm;
}

.menu {
    float: right;
    margin: 0 25px 0 0;
}

.menu ul {
    list-style: none;
    margin: 0;
}

.menu ul li {
    display: inline-block;

}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    padding: 0 20px;
}

.menu ul li button{
    color:white;
    font-family: "Roboto Light";
    font-size: inherit;
    background: none;
    padding: 0.7vh 1vw;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    margin-left: 1vw;

}

.menu ul li button:hover{
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

.menu ul li a:hover{
    color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

input:focus, textarea {
    outline: none !important;
}

button:focus, textarea {
    outline: none !important;
}

.search-form{
    margin-top: 15px;
}
.item-search-field{
    padding: 1em;
    border-radius: 6px;
    border:none;
    font-size: 15px;
    height: 36px;
    width: 20vw;
    min-width: 200px;
}

.distance-inputs{
    padding: 1em;
    border-radius: 6px;
    border:none;
    font-size: 15px;
    height: 36px;
    width: 150px;
}

.popup{
    position: fixed;
    top: 20%;
    right:40%;
    display: none;
    justify-content: center;
    align-items: center;

}

.popup-content{
    border: white 1px solid;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 300px;
    border-radius: 10px;
    color: white;
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
}

.login-data-input{
    border-radius: 10px;
    padding: 5px;
    border: none;
    height: 50px;
    width: 300px;
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.close:hover{
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

.button1{
    color:white;
    place-self: center;
    text-align:center;
    letter-spacing: 3px;
    font-size: inherit;
    background: none;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    width: 150px;
    height:45px;
    padding:0;
    font-weight: 900;
    padding-top: 20px !important;
}

a {
    text-decoration: none;
}

.button1:hover{
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

h5 a{
    text-decoration: none;
    color:white;
    float: right;
}

h5 a:hover{
    color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

h3{
    font-size: 25px;
    display: inline;
    text-align: center;
    margin-top:0;
    margin-bottom:0;
    letter-spacing: 4px;
    font-weight: 700;
}

#items-area{
    /* background: lightgray; */
    width: calc(70vw - 60px);
    float:left;
    padding: 0 20px 20px 20px;
    margin-top: 110px;
}

.sorting-option-inputs-list{
    float: right;
    color: white;
    background: none;
    border-radius: 10px;
    border: 1px solid rgba(225,225,225,0.5);
    font-size: 15px;
    height: 36px;
    width: 150px;
    padding: 0px 5px;
}

.sorting-option-inputs-list option{
    text-align: center;
}


.sorting-option-inputs-list:focus, textarea {
    outline: none !important;
}

.items-list{
    /* background: gray; */
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
    /* padding: 20px; */
}

.item{
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    /*********/
    /* background: none; */
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-gap: 0;
    margin: 0;
    padding: 0;
    max-height: 280px;
    background: white;
}

.item-photo-container{
    background: rgba(255,255,255,0.6);
    border-radius: 13px 13px 0 0;
    /* width: 100%; */
    height: 100%;
    /* background-color: rgba(116, 116, 116, 0.3); */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: auto;
    padding: 0;
}

.item-photo{
    /* max-width: 100%; */
    max-height: 100%;
    /* border-bottom: 1px solid lightgrey; */
    margin: 0;
    padding: 0;
}

.item-name{
    text-align: left;
    font-family: "Roboto-regular";
    font-size: 1.1em;
    /* margin-top: 8px; */
    margin-top: 8px;
    padding: 0;
}

.item-info{
    /* background: green; */
    /* padding: 6px; */
    color: black;
    font-family: "Roboto-light";
    height: 100%;
    width: 100%;
    margin-left: 10px;
    /* padding: 0; */

}



input:focus, textarea {
    outline: none !important;
}

button:focus, textarea {
    outline: none !important;
}

