.search-form{
    margin-top: 15px;
}
.item-search-field{
    padding: 1em;
    border-radius: 6px;
    border:none;
    font-size: 15px;
    height: 36px;
    width: 20vw;
    min-width: 200px;
}

.distance-inputs{
    padding: 1em;
    border-radius: 6px;
    border:none;
    font-size: 15px;
    height: 36px;
    width: 150px;
}

.sorting-option-inputs-list{
    float: right;
    color: white;
    background: none;
    border-radius: 10px;
    border: 1px solid rgba(225,225,225,0.5);
    font-size: 15px;
    height: 36px;
    width: 150px;
    padding: 0px 5px;
}

.sorting-option-inputs-list option{
    text-align: center;
    align-self: center;
}


.sorting-option-inputs-list:focus, textarea {
    outline: none !important;
}


.button {
    width: 266px;
    height: 50px;
    background: transparent;
    border: white 1px solid;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 20px;
    transition: all 0.2s;
    align-self: end;
}

.button:hover {
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}
* {box-sizing:border-box}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    border-radius: 15px;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.slides-container{
    text-align:center;
}
/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
    background: rgba(0, 0, 0, 0.1);
}


/* Position the "next button" to the right */
.next {
    right: 0;
    
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.7);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.mySlides1 img{
    height: 100%;
    max-width: 100%;
    border-radius: 15px;
}


.item-view-container{
    border: 2px solid rgba(225,225,225,0.5);
    border-radius: 15px;
    width: 1100px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 50px;
    overflow: hidden;
    padding: 30px 45px;
    background: none;
    color: white;
}

.main-item-photo-area{
    border-radius: 15px;
    background: rgba(225,225,225,0.5);
}

#photos-name-price-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3fr 2fr);
    grid-gap:30px;
}

#item-name-price{
    margin-top:  10px;
    margin-left: 60px;
}

.item-heading{
    font-size: 25px;
    margin:0;
}

.item-heading-2{
    font-size: 20px;
}

.input-field{
    height: 30px;
    width: 250px;
    background-color: white;
    font-family:inherit;
    font-size: 14px;
    border: white 1px solid;
    border-radius: 10px;
    padding: 5px;
}

.form-label{
    margin:20px  0 7px 0;
}

.price-estimation{
    margin-top:30px;
    font-size: 17px;
    margin-bottom: 0;
}

.item-description{
    margin: 0;
}

#map-container-item-view{
    background: lightblue;
    padding: 0;
    margin: 0;
    border-radius: 15px;
  }

.book-now{
    margin-left: 100px;
    width: 180px;
}

.see-renter{
    background: transparent;
    border: white 1px solid;
    border-radius: 7px;
    letter-spacing: 1px;
    color: white;
    transition: all 0.2s;
    float: right;
    font-family: 'roboto';
    font-weight: lighter;
    font-size: 12px;
    min-width: 120px;
    padding: 6px;
}

.see-renter:hover {
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}
* {box-sizing:border-box}

.description-renter-name{
    padding-top: 12px;
}

#map-canvas-item-view{
    position: static;
    left: 0;
    height: calc(100vh - 110px);
    width: 100%;
    transition: width 0.4s ease-in-out;
  }
  
  @media (min-width: 648px) {
    #map-canvas-item-view{
      width: 100%;
    }
  }

.item-location-container{
    grid-column: span 2;
}


/* ---------MAPA------------- */

* {
    box-sizing: border-box;
  }
  

  
  #map-container {
    height: 0;
    padding: 56.25% 0 0 0;
    margin: auto;
    position: relative;
    border: solid 1px rgba(225,225,225,0.5);
    border-radius: 15px;
    overflow: hidden;
  }
  
  @media (min-width: 648px) {
    #map-container {
      overflow: hidden;
    }
  }
  
  #map-overview {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(0,0,0,0.8);
    background: white;
    z-index: 10;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  }
  
  #map-overview.hidden {
    display: none;
  }
  
  #map-center:hover {
    color: black;
  }
  
  #map-canvas {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: width 0.4s ease-in-out;
  }
  
  @media (min-width: 648px) {
    #map-canvas.zoomed {
      width: 50%;
    }
  }
  
  #map-info {
      margin-bottom: 15px;
    }
  
  #map-info .gp {
    background: white;
    display: none;
    position: relative;
    border: solid 1px grey;
    overflow-y: auto;
  }
  
  @media (min-width: 648px) {
    #map-info .gp {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
    }
  }
  
  #map-info .gp > * {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #map-info .gp.shown {
    display: block;
  }
  
  #map-info .gp img {
    width: 100%;
    display: block;
  }