
.search-form{
    margin-top: 15px;
}
.item-search-field{
    padding: 1em;
    border-radius: 6px;
    border:none;
    font-size: 15px;
    height: 36px;
    width: 20vw;
    min-width: 200px;
}

.distance-inputs{
    padding: 1em;
    border-radius: 6px;
    border:none;
    font-size: 15px;
    height: 36px;
    width: 150px;
}

#items-area{
    width: calc(70vw - 60px);
    float:left;
    padding: 0 20px 20px 20px;
    margin-top: 110px;
}

.sorting-option-inputs-list{
    float: right;
    color: white;
    background: none;
    border-radius: 10px;
    border: 1px solid rgba(225,225,225,0.5);
    font-size: 15px;
    height: 36px;
    width: 150px;
    padding: 0px 5px;
}

.sorting-option-inputs-list option{
    text-align: center;
}


.sorting-option-inputs-list:focus, textarea {
    outline: none !important;
}

.items-list{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 10px;
}

.item{
    border-radius: 15px;
    /*border: 1px solid rgba(255, 255, 255);*/
    display: grid;
    grid-template-rows: 3fr 2fr;
    margin: 0;
    padding: 0;
    max-height: 280px;
    background: white;
}

.item-photo-container{
    background: rgba(255,255,255,0.6);
    border-radius: 13px 13px 0 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: auto;
    padding: 0;
}

.item-photo{
    max-height: 100%;
    margin: 0;
    padding: 0;
}

.item-name{
    text-align: left;
    font-family: "Roboto-regular";
    font-size: 1.1em;
    margin-top: 8px;
    padding: 0;
}

.item-info{
    color: black;
    font-family: "Roboto-light";
    height: 100%;
    width: 100%;
    margin-left: 10px;
}

input:focus, textarea {
    outline: none !important;
}

button:focus, textarea {
    outline: none !important;
}
.popup{
    position: fixed;
    top: 20%;
    right:40%;
    display: none;
    justify-content: center;
    align-items: center;

}

.popup-content{
    border: white 1px solid;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 300px;
    border-radius: 10px;
    color: white;
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
}

.login-data-input{
    border-radius: 10px;
    padding: 5px;
    border: none;
    height: 50px;
    width: 300px;
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.close:hover{
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

