.sign-up a{
    border: white 1px solid;
    border-radius: 10px;
    padding: 5px;
}
.sign-up a:hover{
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

.main-container{
    width: 50%;
    padding: 10px;

}


.page-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    color: white;
    line-height: 2.5;
}

.error-page-redirect{
    color: white;
    text-align: center;
}

.error-page-redirect:hover{
    opacity: 0.8;
}

