.item-description{
    padding: 10px;
    border: white 1px solid;
    border-radius: 10px;
    width: 40vw;
    height: 30vh;
    align-self: start;
}

.type-selector{
    background: none;
    padding: 10px;
    border: white 1px solid;
    border-radius: 10px;
    width: 20vw;
    color: white;
}


.add-items-container{
    width: 40vw;
    margin: auto;
    margin-top: 50px;  
    text-align: center;
}

h1{
    text-align: center;
    margin-top: 70px;
    letter-spacing: 1px;
    font-size: 56px;
}

.add-item-h2{
    text-align: center;
    margin: 70px auto;
    font-size: 48px;
}

.inputs h4{
    font-family: Roboto;
    font-size: 26px;
}
.item-details{
    padding: 10px;
    border: white 1px solid;
    border-radius: 10px;
    width: 25vw;
}



.add-item-item-name{
    padding: 10px;
    border: white 1px solid;
    border-radius: 10px;
    width: 40vw;
}

.add-item-submit-button{
    margin-top: 40px;
    margin-bottom: 40px;
    justify-self: center;
}

.button{
    width: 266px;
    height: 50px;
    background: transparent;
    border: white 1px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 20px;
    transition: all 0.2s;
}

.button:hover {
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

h6{
    align-self: end;
}

h6 a{
    color: cornflowerblue;
}

#icon{
    width: 60px;
    height: 60px;
}

.item-price{
    padding: 10px;
    border: white 1px solid;
    border-radius: 10px;
    width: 10vw;
}

.inputs{
   text-align: center;
}


#input-image{
    border: white 1px solid;
    border-radius: 10px;
    width: 40vw;
    height: 30vh;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

#input-image a{
    align-items: center;
    justify-items: center ;
    color: white;
    text-decoration: none;
    display: grid;
    margin-top: 30px;
}

#input-image a:hover{
    color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

.error-message{
    color: red;
}

