html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: url('../assets/background-with-icons.svg');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Roboto";
    font-size: 15px;
    color: white;
}

.header {
    background: url('../assets/background-with-icons.svg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: fixed;
    padding: 13px 13px 0 13px;
    background-size: cover;
    border-bottom: 0px solid rgba(255, 255, 255, 0.1);
    top: 0px;
    z-index: 99999999999;
}

#logo {
    height: 28px;
    max-width: 15cm;
}

.menu {
    float: right;
    margin-right: 50px;
}

.menu ul {
    list-style: none;
    margin: 0;
}

.menu ul li {
    display: inline-block;

}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    padding: 0 20px;
}

.menu ul li button {
    color: white;
    font-size: inherit;
    background: none;
    padding: 0.7vh 1vw;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    margin-left: 1vw;

}

.menu ul li button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

.menu ul li a:hover {
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

input:focus, textarea {
    outline: none !important;
}

button:focus, textarea {
    outline: none !important;
}

/*-----header with searchbar-----*/

.search-form {
    margin-top: 15px;
}

/*.item-search-field {*/
/*    padding: 1em;*/
/*    border-radius: 6px;*/
/*    border: none;*/
/*    font-size: 15px;*/
/*    height: 36px;*/
/*    width: 20vw;*/
/*    min-width: 200px;*/
/*}*/

/*.distance-inputs {*/
/*    padding: 1em;*/
/*    border-radius: 6px;*/
/*    border: none;*/
/*    font-size: 15px;*/
/*    height: 36px;*/
/*    width: 150px;*/
/*}*/

.sorting-option-inputs-list {
    float: right;
    color: white;
    background: none;
    border-radius: 10px;
    border: 1px solid rgba(225, 225, 225, 0.5);
    font-size: 15px;
    height: 36px;
    width: 150px;
    padding: 0px 5px;
}

.sorting-option-inputs-list option {
    text-align: center;
    align-self: center;
}


.sorting-option-inputs-list:focus, textarea {
    outline: none !important;
}

.input-field {
    height: 30px;
    width: 250px;
    background-color: white;
    font-family: inherit;
    font-size: 14px;
    border: white 1px solid;
    border-radius: 10px;
    padding: 5px;
}

.warning-email {
    color: #BF343F;
    height: 24px;
    padding: 0 8px;
    font-size: 18px;
}

.hidden {
    display: none;
}

.popup {
    position: fixed;
    top: 20%;
    right: 40%;
    display: none;
    justify-content: center;
    align-items: center;
    background: none;
}

.popup-content {
    border: white 1px solid;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 300px;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

.recoveryPassBtn {
    background: none;
    border: none;
    text-align: right;
    margin: 12px 0;
    font-family: "Roboto";
    color: #ffffff;
}

.popup-content button:hover{
    cursor: pointer;
}



.login-data-input {
    border-radius: 10px;
    padding: 5px;
    border: none;
    height: 50px;
    width: 300px;
}

.login-data-input2 {
    border-radius: 10px;
    padding: 5px;
    border: none;
    height: 50px;
    width: 300px;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.close:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transition-duration: 0.5s;
}

.close2 {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    height: 20px;
    border-radius: 50%;
}

.close2:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}


.popup2 {
    position: fixed;
    /*top: 10%;*/
    /*right: 2%;*/
    top: 20%;
    right: 40%;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content2 {
    border: white 1px solid;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 300px;
    border-radius: 10px;
    color: white;
    padding: 20px;
    background: none;
}

.popup-content2 h4 {
    display: grid;
    align-items: end;
}

.button12 {
    color: white;
    place-self: center;
    font-size: inherit;
    background: none;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    width: 250px;
    height: 45px;
    padding: 0;
    font-weight: 900;
}
.button12:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

a {
    text-decoration: none;
}

h5 a {
    text-decoration: none;
    color: white;
    float: right;
}

h5 a:hover {
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

.button1:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

.loginRecBtn{
    color:white;
    place-self: center;
    text-align:center;
    font-size: inherit;
    background: none;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    width: 250px;
    height:45px;
    padding:0;
    font-weight: 900;
    vertical-align: center;
}


