* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    height: 300px;
    border-radius: 15px;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.slides-container{
    text-align:center;

}
/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
    background: rgba(0, 0, 0, 0.1);
    transition-duration: 0.5s;
}


.next {
    right: 0;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.7);
    transition-duration: 0.5s;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.mySlides1{
    background: rgba(255, 255, 255, 1);
    height: 300px;
    width: 500px;
    border-radius: 15px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    text-justify: center;
    display: flex
}

.mySlides1 img{
    align-self: center;
    justify-self: center;
    margin: auto;
;
    max-height: 100%;
    max-width: 100%;
}

.item-view-container{
    border: 2px solid rgba(225,225,225,0.5);
    border-radius: 15px;
    width: 1010px;
    margin: 100px auto 50px auto;
    overflow: hidden;
    padding: 30px 45px;
    background: none;
    color: white;
}


#photos-name-price-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:30px;
}

#item-name-price{
    margin-top:  10px;
    margin-left: 60px;
}

.item-heading{
    font-size: 25px;
    margin:0;
}

.item-heading-2{
    font-size: 20px;
}

.form-label{
    margin:20px  0 7px 0;
}

.price-estimation{
    margin-top:30px;
    font-size: 17px;
    margin-bottom: 0;
}

.item-heading-description{
    margin: 0;
}

.book-now{
    margin-left: 100px;
    width: 180px;
}

.see-renter{
    background: transparent;
    border: white 1px solid;
    border-radius: 7px;
    letter-spacing: 1px;
    color: white;
    transition: all 0.2s;
    float: right;
    font-family: 'roboto';
    font-weight: lighter;
    font-size: 12px;
    min-width: 120px;
    padding: 6px;
    transition-duration: 0.5s;
}

.see-renter:hover {
    background-color: rgba(255,255,255,0.6);
    transition-duration: 0.5s;
    cursor: pointer;
}

.description-renter-name{
    padding-top: 12px;
}

.item-location-container{
    grid-column: span 2;
}


/* ---------MAPA------------- */

  #item-view-map-container {
    height: 0;
    padding: 56.25% 0 0 0;
    margin: auto;
    position: relative;
    border: solid 1px rgba(225,225,225,0.5);
    border-radius: 15px;
    overflow: hidden;
  }

#item-view-map-container p {
    margin-bottom: 20px;
}
  
  @media (min-width: 648px) {
    #item-view-map-container {
      overflow: hidden;
    }
  }
  
  #item-view-map-overview {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(0,0,0,0.8);
    background: white;
    z-index: 10;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  }
  
  #item-view-map-overview.hidden {
    display: none;
  }
  
  #item-view-map-center:hover {
    color: black;
  }
  
  #item-view-map-canvas {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: width 0.4s ease-in-out;
  }
  
  @media (min-width: 648px) {
    #item-view-map-canvas.zoomed {
      width: 50%;
    }
  }
  
  #item-view-map-info {
      margin-bottom: 15px;
    }
  
  #item-view-map-info .gp {
    background: white;
    display: none;
    position: relative;
    border: solid 1px grey;
    overflow-y: auto;
  }
  
  @media (min-width: 648px) {
    #item-view-map-info .gp {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
    }
  }
  
  #item-view-map-info .gp > * {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #item-view-map-info .gp.shown {
    display: block;
  }
  
  #item-view-map-info .gp img {
    width: 100%;
    display: block;
  }

  .search-nav{
      margin: 10px;
      display:inline;
      color:white;
  }
  .sorting-option-inputs-list{
      float: none;
      width: 100px;
  }


