
#items-area{
    width: calc(70vw - 60px);
    float:left;
    padding: 0 20px 20px 10px;
    margin-top: 110px;
}
.items-list-sorting-list{
    margin-top: 10px;
    width: 150px;
}

.items-list{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 10px;
}

.items-list-item{
    border-radius: 15px;
    /*border: 1px solid rgba(255, 255, 255);*/
    display: grid;
    grid-template-rows: 3fr 2fr;
    margin: 0;
    padding: 0;
    max-height: 280px;
    max-width: 270px;
    overflow: hidden;
    transform: scale(0);
    animation: popup 0.8s forwards;
}

@keyframes popup{
    0%{transform: scale(0)}
    33%{transform: scale(1.05)}
    66%{transform:scale(0.97)}
    100%{transform: scale(1)}
}

.item-photo-container{
    background: rgba(255,255,255,1);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: auto;
    padding: 0;
    border-radius: 13px 13px 0 0;
}

.items-list-item-photo{
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.items-list-item-info-area{
    color: black;
    background: white;
    font-family: "Roboto";
    height: 100%;
    width: 100%;
    border-top:10px solid white;
}

.items-list-item-info{
    margin-left: 10px;
}

.items-list-item-name{
    text-align: left;
    font-family: "Roboto";
    font-size: 1.1em;
    margin-top: 8px;
    padding: 0;
}



