.sub-map-wrapper{
    position: relative;
}

.map-container {
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  top:111px;
  right: 0px;
  /*border: 2px solid rgba(225, 225, 225, 0.3);*/
  border-radius: 15px 0px 0px 0px;
  background: rgba(225, 225, 225, 0.3);
  width: 30vw;
}

@media (min-width: 648px) {
  .map-container {
    overflow: hidden;
  }
}

#map-overview {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: rgba(0,0,0,0.8);
  background: white;
  z-index: 10;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

#map-overview.hidden {
  display: none;
}

#map-center:hover {
  color: black;
}

#map-canvas {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  transition: width 0.4s ease-in-out;
}

@media (min-width: 648px) {
  #map-canvas.zoomed {
    width: 100%;
  }
}

.items-list-map-marker{
  height: 50px;
  width: 50px;
  animation: marker-drop 1s forwards;
}

@keyframes marker-drop {
  0%{opacity:0}
  100%{opacity: 1}
}

#map-info {
  background: grey;
  margin-bottom: 15px;
}

#map-info .gp {
  background: white;
  display: none;
  position: relative;
  overflow-y: auto;
}

/*@media (min-width: 648px) {*/
/*  #map-info .gp {*/
/*    position: absolute;*/
/*    top: 40px;*/
/*    right: 100px;*/
/*    width:30%;*/
/*    height: 65%;*/
/*    border-radius:15px;*/
/*  }*/
/*}*/

#map-info .gp > * {
  padding-left: 15px;
  padding-right: 15px;
}

#map-info .gp.shown {
  position: absolute;
  top: 20%;
  right: 15%;
  display: block;
  width: 70%;
  height:30%;
  color: black;
  border-radius: 10px;
}

#map-info .gp img {
  height:100px;
  max-width: calc(100% - 30px);
  display: block;
}